<h1 class="text-center p-3">Dishes</h1>

<div class="d-flex justify-content-center">
  <div class="col-10">
    <% @public_recipes.each do |recipe| %>
      <div class="d-flex mb-5 border rounded">
        <%= link_to recipe_avatar(recipe), recipe_path(recipe[:id])%>
        <div class="dish-card card w-100">
          <div class="card-header pb-0">
            <h5><%= recipe[:name] %> </h5>
            <p class="mb-1">by <%= recipe[:user]%></p>
          </div>
          <div class="card-body">
            <p class="card-text"><%= recipe[:description] %></p>
            <p class="card-text"><b>Total Ingredients:</b> <%= recipe[:ingredients_amount] %></p>
            <p class="card-text"><b>Total Amount: $</b><%= recipe[:total_price] %></p>
            <%= link_to "Recipe", recipe_path(recipe[:id]), :class => "btn btn-warning" %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="mb-3 py-3 px-5">
  <%= link_to "< Back", :back, class: "text-decoration-none" %>
</div>
