  <div class="d-flex justify-content-center">
  <div class="w-50">
  <% @public_recipes.each do |recipe| %>  
  <div class="card w-100 mt-5">
  <h5 class="card-header"><%= recipe[:name] %> by <%= recipe[:user]%></h5>
  <div class="card-body">
    <p class="card-text"><%= recipe[:description] %></p>
    <p class="card-text">total food: <%= recipe[:ingredients_amount] %></p>
    <p class="card-text">total amount: <%= recipe[:ingredients_price] %></p>
    <%= link_to "recipe list", recipe_path(recipe[:id]), :class => "btn btn-primary" %>
  </div>
</div>
 <%end%>
 </div>
 </div>
