<h1>New recipe food</h1>

<%= form_with model: @ingredient, url: [@recipe, @ingredient] do |form| %>

    <select name='food_id' id='food_id' class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select Food</option>
        <% @foods.each do |food| %>
        <option value=<%= food.id %>><%= food.name %></option>
        <% end %>
    </select>

    <div class="mb-5 w-25">
        <%= form.label :quantity, "Quantity (grams)", :class => "form-label" %>
        <%= form.number_field :quantity, placeholder: "Qauntity", required: true, :class => "form-control" %>
    </div>

    <%= form.hidden_field :recipe_id, value: @recipe.id %>

    <div>
        <%= form.submit "Add Ingredient", :class => "btn btn-primary", disable_with: "Please wait..." %>
    </div>

<% end %>

<br>

<div>
  <%= link_to "Back to Recipe", recipe_path(@recipe) %>
</div>
