<%= form_with model: @food do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control w-25" %>
  </div>

  <div class="form-group">
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit, class: "form-control w-25"  %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control w-25"  %>
  </div>

  <div class='submit_button'>
    <%= f.submit "Add new post" %>
  </div>
<% end %>