
<h1 class="text-center p-3">Add Foods</h1>

<section class="container col-6">
  <%= form_with model: @food do |f| %>
    <div class="mb-3">
      <%= f.label :name, style: "display: block" %>
      <%= f.text_field :name , class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :measurement_unit, style: "display: block" %>
      <%= f.select(:measurement_unit, options_for_select([['Grams'], ['Kg'], ['unit']]), class: "form-control") %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :price, style: "display: block" %>
      <%= f.text_field :price, class: "form-control"  %>
    </div>

    <div class="actions mt-5 text-center">
      <%= f.submit "Add new food", class: "btn btn-warning" %>
    </div>
  <% end %>
</section>

<div class="mt-3 py-3 px-5">
  <%= link_to "< Back", :back, class: "text-decoration-none" %>
</div>